@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

/*Css header*/

nav {
    background-color: #000;
    opacity: 0.7;
  }
  
  nav-title {
    font-size: 30px;
    font-family: Ubuntu;
  }
  
  nav a {
    color: #fff;
  }
  
  nav .collapse a:hover {
    color: #760622 !important;
  }

/*Css footer*/
.pien {
  background-color: #760622;
  color: #fff;
}

@media only screen and (min-width: 1250px) {
  .pie-image {
    max-width: 270px;
  }
}
.pie-a {
  text-decoration: none;
  font-size: 16px;
}
.pie-a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 1235px) {
  .logo-footer {
    max-width: 264.75px;
  }
}
/*Css Mapa del Footer*/

.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 300px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 300px;
}

/*Css Error 404*/

.mt-9{
  margin-top: 100px;
}

.error-title{
  font-size: 95px;
}

.img-error{
  width: 100%;
  height: 500px !important;
}

@media (max-width: 600px){

  .img-error{
    width: 100%;
    height: 300px !important;
  }
}

/* Css comentarios*/
.comentarios .img {
  position: absolute;
  top: 10px;
  left: 750px;
}

.comentarios .icons {
  width: 20px;
  height: 20px;
}
.pie {
  background-color: #760622;
}

.pie .title1-index {
  position: absolute;
  top: 3250px;
  left: 700px;
  color: white;
  font-family: Oswald;
}